{%extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}

  <script>
	$("#id_PDFPoster").change(function () {
		console.log("YEAAAA")
	   	var first_name = $("input[name=first_name]").val();
	   	var last_name = $("input[name=last_name]").val();	
	   	var year = $('input[name="Year"]:checked').val();
	   	var semester = $('input[name="Semester"]:checked').val();
	   	var course = $('input[name="Course_name"]:checked').val();
	   	var year_range
	   	if (semester == "Spring"){
	   		var first_year = year - 1
	   		year_range = String(first_year) + "-" + String(year)
	   	}else{
	   		next_year = parseInt(year)+1
	   		year_range = String(year) + "-" + String(next_year)
	   	}
	   	var course_code = String(course).substring(0, String(course).indexOf("_"))

	   	if (first_name != "" && last_name != "" && year != null && semester != null && course != null){
			document.getElementById("posterpath").innerHTML = "The poster will be saved at: " + "S:/Posters/GIS Posters/" + year_range + "/" +
			"PostersComplete" + semester + year + "/" + course + "/" + last_name + "_" + first_name + "_" + course_code + "_" + year + ".pdf";
		}
	 });

	$("#id_release_form_0").click(function() {
		if (document.getElementById("textInput") == null){
			$("#id_release_form").after('<label for="textInput" id="textInputLabel"> Initials Box: </label> <input type="text" id="textInput" value="" name=textInput>');
		}
	});

	$("#id_release_form_1").click(function() {
		if (document.getElementById("textInput") != null){
			$("#textInput").remove();
			$("#textInputLabel").remove();

		}
	});
	$(document).ready(function(){
		$("#poster-form").validate({
			rules: {
				textInput: {
					required: true,
					minlength: 2
				}
			}
		})
	});

  </script>
{% endblock %}

{% block content %}
    <header>
      GIS Poster Catalog Form
    </header>
<form id="poster-form" method="POST" class="poster-form" action="{% url 'poster_new' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    		<br><div class="label_tag">{{field.label_tag}}</div>
    		 <div class="help_text">{{field.help_text}}</div>
    		 {{field}}<br>
	{% endfor %}
	<p id="posterpath"> </p>
	<br>
    {{ form.errors }}
    {{ form.non_field_errors }}
    


    <button id="submit-button" type="submit" class="submit-button">Submit</button>
</form>
{% endblock %}