{%extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <header>
      GIS Poster Catalog Form
    </header>
    <a href="/accounts/logout">Logout</a>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    		<br><div class="label_tag">{{field.label_tag}}</div>
    		 <div class="help_text">{{field.help_text}}</div>
    		 {{field}}<br>
	{% endfor %}
	<p id="posterpath"> </p>
	<br>
    {{ form.errors }}
    {{ form.non_field_errors }}
    


    <button type="submit" class="submit-button" value="Update">Submit</button>
</form>
{% endblock %}
