{%extends "base.html" %}
{% block content %}
    <header>
      GIS Poster Update Form
    </header>
    <a href="/accounts/logout">Logout</a>

<form method="POST" class="poster-search" action="{% url 'poster_search' %}" enctype="multipart/form-data">
     {% csrf_token %}
     
     {% for field in form %}
    		<br><div class="label_tag">{{field.label_tag}}</div>
    		 <div class="help_text">{{field.help_text}}</div>
    		 {{field}}<br>
	{% endfor %}
    {{ form.errors }}
    {{ form.non_field_errors }} <br>
<!-- <div class="ui-widget">
  <label for="FullPosterTitle">Drugs: </label>
  <input id="FullPosterTitle">
</div> -->


    <button type="submit" class="save btn btn-default">Search</button>
</form>
{% endblock %}