body {
    font-family: "helvetica";
    font-size: 85%;
    background-color: #EDF3F9;
    padding-left: 15px;
}
.label_tag {
    font-family: "helvetica";
    color: #417dc1;
  	font-size: 115%;
    font-weight: bold;
}

.help_text {
	color: grey;
    font-family: "helvetica";
    font-size: 105%;
}

header {
    font-family: "helvetica";
	background-color: #417dc1;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:white;
}

button {

 	border-radius: 2px;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 35px;
    line-height: 27px;
    min-width: 54px;
    outline: 0px;
    padding: 0 8px;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #417dc1;
    background-image: -webkit-linear-gradient(top,#417dc1,#4787ed);
}

/*
background: #0066A2;
color: white;
border-style: groove;
border-color: #0066A2;
height: 34px;
width: 80px;
font: bold 15px arial, sans-serif;
text-shadow:none;*/